<!DOCTYPE html>
<html ng-app="CyclingFitnessWebApplication" lang=""en >
<head>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.5.2/angular-route.min.js"></script>
    <script src="https://code.angularjs.org/1.5.2/angular-cookies.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <title>It's My Cycle Web App</title>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">

    <link href="../stylesheets/business-casual.css" rel="stylesheet">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!--google api
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular-route.js"></script>
-->

    <!--googlemaps
    <script src="https://apis.google.com/js/platform.js" async defer>
    </script>
    <script src="https://apis.google.com/js/client:platform.js" async defer>
    </script>
-->

    <!--maps-->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqZsJT05wrDHUvNBtpECIkR_ghXl98eU8"
            type="text/javascript"></script>
    <script src="/dist/ng-map.min.js"></script>



    <script src="/javascripts/angularApp.js"></script>
    <script src="/javascripts/controllers/maincontroller.js"></script>
    <script src="/javascripts/controllers/activitycontroller.js"></script>
    <script src="/javascripts/controllers/aboutcontroller.js"></script>
    <script src="/javascripts/controllers/activitiescontroller.js"></script>

    <script src="/javascripts/controllers/friendscontroller.js"></script>
    <script src="/javascripts/controllers/logincontroller.js"></script>
    <script src="/javascripts/controllers/bikecontroller.js"></script>
    <script src="/javascripts/controllers/bikescontroller.js"></script>
    <script src="/javascripts/controllers/reportcontroller.js"></script>
    <script src="/javascripts/controllers/reportscontroller.js"></script>
    <script src="/javascripts/controllers/homecontroller.js"></script>


    <style> .glyphicon-thumbs-up { cursor:pointer } </style>

</head>

<body ng-controller="mainController">
<!-- NAVBAR -->

<div class = "header">
    <div class="brand">It's My Bike</div>
    <div class="address-bar">Track yourself and compete against others</div>



    <nav class="navbar navbar-default" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="index.html">Cycling Tracker</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav">
                    <!--<li>
                   <a href="#" height="94px" width="154px" ><img src="../images/logo-whitefg-hor.png" height="25" width="50" style="display:block;margin-left:0;margin-right:0; vertical-align: middle;"></a>
                    </li>-->
                    <li>
                        <a href="#/"><i class="fa fa-home"></i>Home</a>

                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle"
                           data-toggle="dropdown"
                          >
                            Add
                            <b class ="caret"> </b>
                        </a>
                        <ul class="dropdown-menu">

                            <li>
                                <a href="#addactivity"><i class = "fa fa-child"></i>Add Activity</a>
                            </li>
                            <li>
                                <a href="#addfriends"><i class = "fa fa-users"></i>Add Friends</a>
                            </li>
                            <li>
                                <a href="#addbike"><i class="fa fa-bicycle"></i>Add Bike</a>
                            </li>

                        </ul>

                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle"
                           data-toggle="dropdown"
                        >
                            View
                            <b class ="caret"> </b>
                        </a>
                        <ul class="dropdown-menu">

                            <li>
                                <a href="#activities"><i class = "fa fa-child"></i>Activities</a>

                            </li>

                            <li>
                                <a href="#bikes"><i class = "fa fa-bicycle"></i>Gear</a>

                            </li>

                            <li>
                                <a href="#friends"><i class = "fa fa-users"></i>Friends</a>

                            </li>
                            <li>
                                <a href="#reports"><i class = "fa fa-fa fa-exclamation-triangle"></i>Reports</a>

                            </li>
                        </ul>
                    </li>

                    <li>

                        <a ng-if="isLoggedIn() ==false" href="#login"><i class="fa fa-sign-in"></i>Login</a>


                        <a ng-if="isLoggedIn() ==true" href="#login" ng-click="logout()"><i class= "fa fa-sign-out"></i>Logout {{user}}</a>

                    </li>

                </ul>
            </div>

        </div>

    </nav>
</div>



<!-- MAIN CONTENT AND INJECTED VIEWS -->
<div id="main">

    <div ng-view></div>

</div> <!-- End of main div -->
<footer class="text-center box footer" style="background: rgba(255,221,133,0.975);">

<p>This application is the Final year project of {{author}}</p>
</footer>
</body>
</html>