
<div class = "text-center">

    <div class = "row">
        <div ng-controller="friendsController">

            <div class = "col-lg-1">

            </div>
            <div class = "col-lg-8">
                <div class = "box">

                    <div>
                        <h2>Search for Your Friends</h2>
                        <hr>
                        <form ng-submit="searchByUsername()">
                        <div class="form-group" align="center">
                            Username
                            <input type="string"
                                   class="form-control"
                                   ng-model="username"
                                   ng-style="{'width': 250 + 'px'}"/>

                            <button type ="submit" class="btn btn-primary">Search</button>

                        </div>


                        </form>

                        <form ng-submit="searchByLocation()">
                            <div class="form-group" align="center">
                                Location
                                <input type="string"
                                       class="form-control"
                                       ng-model="location"
                                       ng-style="{'width': 250 + 'px'}"/>

                            </div>


                            <button type ="submit" class="btn btn-primary">Search</button>

                        </form>

                        <hr>

                    </div>

                    <div> <!--ng-if="results==true">-->

                        <h2>Search Results</h2>

                        <div ng-repeat="user in searchFriendships">
                            <p>Name: {{user.username}}</p>
                            <p>Location: {{user.location}}</p>


                            <button type="button" class="btn btn-default" ng-click="add(user)">
                                <span class="fa fa-plus"></span>Friend
                            </button>
                        </div>

                    </div>

                </div>

            </div>
        </div>

        <div class = "col-lg-2">


            <div ng-controller="friendsController as list">
                <div class = "box">
                    <h4>Your Friends <span class="fa fa-users"></span></h4>
                    <hr>
                        <div ng-repeat="friendship in friendships | orderBy:'-timestamp' | limitTo: 3">

                                <p><b>Name : </b>{{friendship.friend_name}}</p>

                                <p><b>Since : </b>{{friendship.timestamp}}</p>
                            <button type="button" class="btn btn-default" ng-click="delete(friendship)">
                                <span class="fa fa-trash"></span>Unfriend
                                </button>

                            <hr>
                        </div>
                    <a href="#/friends" class="btn btn-primary">
                        <span class="fa fa-users"></span>See All
                    </a>


                </div>




            </div>




        </div>

        <div class = "col-lg-1">

        </div>
    </div>
</div>




