
<div class = "container">

    <div class = "row">
        <div ng-controller="friendsController">
            <div class = "col-lg-9">
                <div class = "jumbotron text-center">

                            <h2>Search for Your Friends</h2>
                        <hr>

                </div>

            </div>
        </div>

        <div class = "col-lg-3">

            <div ng-controller="friendsController as list">
                <div class = "jumbotron text-center">
                    <h4>Your Friends</h4>
                        <div ng-repeat="friendship in friendships" style="border-color:#251204; border-style:ridge">

                                <p><b>Name : </b>{{friendship.friend_name}}</p>

                                <p><b>Since : </b>{{friendship.timestamp}}</p>
                        </div>
                </div>


            </div>
        </div>
    </div>
</div>




