<div class="jumbotrol text-center">

    <div class="row">
        <div class ="col-lg-9">
            <div class = "box">
                <div ng-controller="mainController">
                    <h1>{{ message }}</h1>



                    <p>Select one of the menu options to continue...</p>
                </div>
            </div>
         </div>

        <div class = "col-lg-3" >
            <div class = "box">

                <h2>Sidebar</h2>



            </div>

        </div>
    </div>

  </div>