<div class="container">
    <div class="row">
        <div class ="col-lg-12">
            <div class="jumbotron text-center">
                <h2>Details of Reports</h2>
                <hr>

                <div ng-controller="reportsController as list">
                    <table class = "table table-striped" valign="middle">

                        <thead>
                            <th valign = "middle">
                                <span class="table-down" valign="middle">Serial Number
                                </span>
                            </th>
                            <th valign = "middle">
                                <span class="table-down" valign="middle">Bike Nickname
                                </span>
                            </th>

                            <th valign = "middle">
                                <span class="table-down" valign="middle">Location
                                </span>
                            </th>
                            <th valign = "middle">
                                <span class="table-down" valign="middle">Pulse Number
                                </span>
                            </th>
                            <th valign = "middle">
                                <span class="table-down" valign="middle">Status
                                </span>
                            </th>




                        </thead>
                        <tbody ng-repeat="report in reports">
                            <tr valign="middle"  class="table-row">

                                <td>
                                    <span class="table-down"  valign="middle">
                                    {{report.serial_number}}
                                    </span>

                                </td>

                                <td>
                                    <span class="table-down"  valign="middle">
                                    {{report.nickname}}
                                    </span>

                                </td>

                                <td>
                                    <span class="table-down"  valign="middle">
                                    {{report.location_name}}
                                    </span>

                                </td>
                                <td>
                                    <span class="table-down"  valign="middle">
                                    {{report.pulse_number}}
                                    </span>

                                </td>
                                <td ng-if="report.status==='STOLEN'" class="td-stolen" >
                                    <span class="table-down"  valign="middle" >
                                    {{report.status}}
                                    </span>

                                </td>
                                <td ng-if="report.status==='FOUND'" class="td-found">
                                    <span class="table-down"  valign="middle" class="td-found">
                                    {{report.status}}
                                    </span>

                                </td>
                                <td ng-if="report.status==='LOST'" class="td-found">
                                    <span class="table-down"  valign="middle" class="td-lost">
                                    {{report.status}}
                                    </span>

                                </td>






                        </tbody>

                    </table>
            </div>
        </div>
    </div>
</div>